*.moc
*.obj
*.rcc
ui_*.h
qrc_*.cpp
moc_*.h
*.gch
Makefile
qtnote
qtnote.pro.user*
moc_*.cpp
*.o
*.so*
.inst
setup.exe
QtNote-*-setup.exe
*.autosave
*.swp
tmp
debian/files
.qmake.stash
CMakeLists.txt.user*
.DS_Store
build

# vs
GeneratedFiles

#debian
debian/.debhelper/
debian/debhelper-build-stamp
debian/libqtnote-dev.substvars
debian/libqtnote-dev/
debian/libqtnote*.substvars
debian/libqtnote3/
obj-x86_64-linux-gnu/
