<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="E615AE00-0251-403F-BAB9-EBD9AB15DD49" Name="QtNote" Language="1033" Version="3.0.0" Manufacturer="R-Soft" UpgradeCode="E12D6C7A-8F57-479B-8AE9-49C411B82843">
        <Package Description="QtNote - note taking application" Comments="Simple test" InstallerVersion="405" Compressed="yes" Manufacturer="R-Soft" Platform="x64" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="QtNote" />
            </Directory>
        </Directory>
        <Feature Id="VCRedist" Title="Visual C++ 2013 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist" />
        </Feature>
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC120_CRT_x64.msm" DiskId="1" Language="0" />
            <Component  Win64='yes' Id="QT5CORE.DLL" DiskId="1" Guid="9E02C618-A2D8-42BB-9E9F-826A1D409938">
                <File ProcessorArchitecture='x64' Id="QT5CORE.DLL" Name="Qt5Core.dll" Source="$(sys.CURRENTDIR)\.inst\Qt5Core.dll" />
            </Component>
            <Component Win64='yes' Id="QT5GUI.DLL" DiskId="1" Guid="B7B4585A-64B1-49C8-99BD-ED0037EB966D">
                <File ProcessorArchitecture='x64' Id="QT5GUI.DLL" Name="Qt5Gui.dll" Source="$(sys.CURRENTDIR)\.inst\Qt5Gui.dll" />
            </Component>
            <Component Win64='yes' Id="QT5NETWORK.DLL" DiskId="1" Guid="F0C3FC4B-EA0A-46EB-BF50-3427E87B7E1B">
                <File ProcessorArchitecture='x64' Id="QT5NETWORK.DLL" Name="Qt5Network.dll" Source="$(sys.CURRENTDIR)\.inst\Qt5Network.dll" />
            </Component>
            <Component Win64='yes' Id="QT5PRINTSUPPORT.DLL" DiskId="1" Guid="42AC5CC2-B567-4399-9D25-48F7C723FC64">
                <File ProcessorArchitecture='x64' Id="QT5PRINTSUPPORT.DLL" Name="Qt5PrintSupport.dll" Source="$(sys.CURRENTDIR)\.inst\Qt5PrintSupport.dll" />
            </Component>
            <Component Win64='yes' Id="QT5WIDGETS.DLL" DiskId="1" Guid="6709EFC5-CED9-49EA-9582-60A1B0723B0C">
                <File ProcessorArchitecture='x64' Id="QT5WIDGETS.DLL" Name="Qt5Widgets.dll" Source="$(sys.CURRENTDIR)\.inst\Qt5Widgets.dll" />
            </Component>
            <Component Win64='yes' Id="QT5XML.DLL" DiskId="1" Guid="5457C824-0AD3-4AE9-ACDC-576910850767">
                <File ProcessorArchitecture='x64' Id="QT5XML.DLL" Name="Qt5Xml.dll" Source="$(sys.CURRENTDIR)\.inst\Qt5Xml.dll" />
            </Component>
            <Component Win64='yes' Id="QTNOTE.DLL" DiskId="1" Guid="50E1F946-275C-4C46-B3A5-770D059199BB">
                <File ProcessorArchitecture='x64' Id="QTNOTE.DLL" Name="qtnote.dll" Source="$(sys.CURRENTDIR)\.inst\qtnote.dll" />
            </Component>
            <Component Win64='yes' Id="QTNOTE.EXE" DiskId="1" Guid="1FA94B58-04E5-4754-B89B-B5E7E6840F10">
                <File ProcessorArchitecture='x64' Id="QTNOTE.EXE" Name="qtnote.exe" Source="$(sys.CURRENTDIR)\.inst\qtnote.exe">
                    <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="QtNote" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                    <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="QtNote" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                </File>
            </Component>
            <Directory Id="LANGS" Name="langs">
                <Component Win64='yes' Id="QTBASE_FR.QM" DiskId="1" Guid="30701314-7BAB-4908-AD31-7DDA47C81FFB">
                    <File Id="QTBASE_FR.QM" Name="qtbase_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtbase_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QTBASE_RU.QM" DiskId="1" Guid="CBCC1825-EBBA-4780-A7B4-5C34B23FD578">
                    <File Id="QTBASE_RU.QM" Name="qtbase_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtbase_ru.qm" />
                </Component>
                <Component Win64='yes' Id="QTMULTIMEDIA_FR.QM" DiskId="1" Guid="228600D8-0E21-4A5C-AA06-75B3446E5BA6">
                    <File Id="QTMULTIMEDIA_FR.QM" Name="qtmultimedia_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtmultimedia_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QTMULTIMEDIA_RU.QM" DiskId="1" Guid="28E97A38-17B4-417F-91AA-4415C7ED85AB">
                    <File Id="QTMULTIMEDIA_RU.QM" Name="qtmultimedia_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtmultimedia_ru.qm" />
                </Component>
                <Component Win64='yes' Id="QTNOTE_EN.QM" DiskId="1" Guid="8D5EEFB9-2496-4E56-B465-07237743957A">
                    <File Id="QTNOTE_EN.QM" Name="qtnote_en.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtnote_en.qm" />
                </Component>
                <Component Win64='yes' Id="QTNOTE_FR.QM" DiskId="1" Guid="5882A5CE-6310-4CAD-AF61-9985EF49ECF6">
                    <File Id="QTNOTE_FR.QM" Name="qtnote_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtnote_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QTNOTE_RU.QM" DiskId="1" Guid="F5176283-B7FE-4E1D-AC17-D6DE17814C96">
                    <File Id="QTNOTE_RU.QM" Name="qtnote_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtnote_ru.qm" />
                </Component>
                <Component Win64='yes' Id="QTNOTE_VI.QM" DiskId="1" Guid="F814A24B-2782-408A-9678-039980FC72CF">
                    <File Id="QTNOTE_VI.QM" Name="qtnote_vi.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtnote_vi.qm" />
                </Component>
                <Component Win64='yes' Id="QTQUICK1_FR.QM" DiskId="1" Guid="D55CE1CD-0F34-4C30-B547-25D32E9D9D38">
                    <File Id="QTQUICK1_FR.QM" Name="qtquick1_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtquick1_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QTQUICK1_RU.QM" DiskId="1" Guid="4658B657-779F-4F68-A142-B6DB6BEF78D8">
                    <File Id="QTQUICK1_RU.QM" Name="qtquick1_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtquick1_ru.qm" />
                </Component>
                <Component Win64='yes' Id="QTSCRIPT_FR.QM" DiskId="1" Guid="37ADB371-93FF-494B-86C0-77F06B6B1453">
                    <File Id="QTSCRIPT_FR.QM" Name="qtscript_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtscript_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QTSCRIPT_RU.QM" DiskId="1" Guid="5F32DFA1-3ECB-4E6B-B2DF-0E9B5B67D135">
                    <File Id="QTSCRIPT_RU.QM" Name="qtscript_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtscript_ru.qm" />
                </Component>
                <Component Win64='yes' Id="QTXMLPATTERNS_FR.QM" DiskId="1" Guid="D49EC9ED-82E2-4696-A041-C1F94BC99087">
                    <File Id="QTXMLPATTERNS_FR.QM" Name="qtxmlpatterns_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtxmlpatterns_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QTXMLPATTERNS_RU.QM" DiskId="1" Guid="6F2B226A-4431-48C6-BFA5-C7C3A0059895">
                    <File Id="QTXMLPATTERNS_RU.QM" Name="qtxmlpatterns_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qtxmlpatterns_ru.qm" />
                </Component>
                <Component Win64='yes' Id="QT_FR.QM" DiskId="1" Guid="CE68E2EA-AD1F-4EBE-A1A2-95EF86FA8550">
                    <File Id="QT_FR.QM" Name="qt_fr.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qt_fr.qm" />
                </Component>
                <Component Win64='yes' Id="QT_RU.QM" DiskId="1" Guid="CD8F0F95-A7A6-4BC7-9541-BE85FBD6B62E">
                    <File Id="QT_RU.QM" Name="qt_ru.qm" Source="$(sys.CURRENTDIR)\.inst\langs\qt_ru.qm" />
                </Component>
            </Directory>
            <Directory Id="PLATFORMS" Name="platforms">
                <Component Win64='yes' Id="QMINIMAL.DLL" DiskId="1" Guid="66AC76CF-5A3B-49E1-8671-15615D92E6E6">
                    <File ProcessorArchitecture='x64' Id="QMINIMAL.DLL" Name="qminimal.dll" Source="$(sys.CURRENTDIR)\.inst\platforms\qminimal.dll" />
                </Component>
                <Component Win64='yes' Id="QOFFSCREEN.DLL" DiskId="1" Guid="5BB1D881-74AD-4817-A59B-EB8477B8886C">
                    <File ProcessorArchitecture='x64' Id="QOFFSCREEN.DLL" Name="qoffscreen.dll" Source="$(sys.CURRENTDIR)\.inst\platforms\qoffscreen.dll" />
                </Component>
                <Component Win64='yes' Id="QWINDOWS.DLL" DiskId="1" Guid="BAC78E43-C919-424F-96F5-F1A15D411BB8">
                    <File ProcessorArchitecture='x64' Id="QWINDOWS.DLL" Name="qwindows.dll" Source="$(sys.CURRENTDIR)\.inst\platforms\qwindows.dll" />
                </Component>
            </Directory>
            <Directory Id="PLUGINS" Name="plugins">
                <Component Win64='yes' Id="BASEINTEGRATION.DLL" DiskId="1" Guid="E51AF2F4-C548-4805-8787-849BFF4C281B">
                    <File ProcessorArchitecture='x64' Id="BASEINTEGRATION.DLL" Name="baseintegration.dll" Source="$(sys.CURRENTDIR)\.inst\plugins\baseintegration.dll" />
                </Component>
                <Component Win64='yes' Id="SPELLCHECKER.DLL" DiskId="1" Guid="819276BB-57DD-457A-9D35-8F05FE6ED145">
                    <File ProcessorArchitecture='x64' Id="SPELLCHECKER.DLL" Name="spellchecker.dll" Source="$(sys.CURRENTDIR)\.inst\plugins\spellchecker.dll" />
                </Component>
                <Component Win64='yes' Id="TOMBOY.DLL" DiskId="1" Guid="16DE03A5-8761-4CC4-B50D-2B8E9D25FE64">
                    <File ProcessorArchitecture='x64' Id="TOMBOY.DLL" Name="tomboy.dll" Source="$(sys.CURRENTDIR)\.inst\plugins\tomboy.dll" />
                </Component>
            </Directory>
            <Directory Id="SPELLCHECK" Name="spellcheck">
                <Directory Id="MYSPELL" Name="myspell">
                    <Component Win64='yes' Id="EN_US.AFF" DiskId="1" Guid="4B92E59D-FE20-4C05-8387-291A6CFE1B52">
                        <File Id="EN_US.AFF" Name="en_US.aff" Source="$(sys.CURRENTDIR)\.inst\spellcheck\myspell\en_US.aff" />
                    </Component>
                    <Component Win64='yes' Id="EN_US.DIC" DiskId="1" Guid="E06D26CC-E15A-442C-9815-B389F435BA6D">
                        <File Id="EN_US.DIC" Name="en_US.dic" Source="$(sys.CURRENTDIR)\.inst\spellcheck\myspell\en_US.dic" />
                    </Component>
                    <Component Win64='yes' Id="RU_RU.AFF" DiskId="1" Guid="48C6C48E-5620-4FA3-BE7F-C5C583B5A011">
                        <File Id="RU_RU.AFF" Name="ru_RU.aff" Source="$(sys.CURRENTDIR)\.inst\spellcheck\myspell\ru_RU.aff" />
                    </Component>
                    <Component Win64='yes' Id="RU_RU.DIC" DiskId="1" Guid="850D9BAD-9659-4CCF-BBC9-F9E68CC8FE48">
                        <File Id="RU_RU.DIC" Name="ru_RU.dic" Source="$(sys.CURRENTDIR)\.inst\spellcheck\myspell\ru_RU.dic" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="QtNote">
                    <Component Win64='yes' Id="StartMenuShortcuts" Guid="B86CBF3F-7231-41E0-917C-EC55CD074F6A">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall QtNote" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                        <util:InternetShortcut Id="WebsiteShortcut" Name="QtNote Homepage" Target="http://ri0n.github.io/QtNote" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="QT5CORE.DLL" />
            <ComponentRef Id="QT5GUI.DLL" />
            <ComponentRef Id="QT5NETWORK.DLL" />
            <ComponentRef Id="QT5PRINTSUPPORT.DLL" />
            <ComponentRef Id="QT5WIDGETS.DLL" />
            <ComponentRef Id="QT5XML.DLL" />
            <ComponentRef Id="QTNOTE.DLL" />
            <ComponentRef Id="QTNOTE.EXE" />
            <ComponentRef Id="QTBASE_FR.QM" />
            <ComponentRef Id="QTBASE_RU.QM" />
            <ComponentRef Id="QTMULTIMEDIA_FR.QM" />
            <ComponentRef Id="QTMULTIMEDIA_RU.QM" />
            <ComponentRef Id="QTNOTE_EN.QM" />
            <ComponentRef Id="QTNOTE_FR.QM" />
            <ComponentRef Id="QTNOTE_RU.QM" />
            <ComponentRef Id="QTNOTE_VI.QM" />
            <ComponentRef Id="QTQUICK1_FR.QM" />
            <ComponentRef Id="QTQUICK1_RU.QM" />
            <ComponentRef Id="QTSCRIPT_FR.QM" />
            <ComponentRef Id="QTSCRIPT_RU.QM" />
            <ComponentRef Id="QTXMLPATTERNS_FR.QM" />
            <ComponentRef Id="QTXMLPATTERNS_RU.QM" />
            <ComponentRef Id="QT_FR.QM" />
            <ComponentRef Id="QT_RU.QM" />
            <ComponentRef Id="QMINIMAL.DLL" />
            <ComponentRef Id="QOFFSCREEN.DLL" />
            <ComponentRef Id="QWINDOWS.DLL" />
            <ComponentRef Id="BASEINTEGRATION.DLL" />
            <ComponentRef Id="SPELLCHECKER.DLL" />
            <ComponentRef Id="TOMBOY.DLL" />
            <ComponentRef Id="EN_US.AFF" />
            <ComponentRef Id="EN_US.DIC" />
            <ComponentRef Id="RU_RU.AFF" />
            <ComponentRef Id="RU_RU.DIC" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
		<WixVariable Id="WixUILicenseRtf" Value="installer\wix\GPLv3.rtf" />
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <Icon Id="DesktopIcon.exe" SourceFile="$(sys.CURRENTDIR)\.inst\qtnote.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="$(sys.CURRENTDIR)\.inst\qtnote.exe" />
		<Icon Id="icon.ico" SourceFile="src\win\pen64.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
    </Product>
</Wix>