[Desktop Entry]
Name=QtNote
Comment=Note-taking Application
Comment[ru]=Менеджер заметок
Icon=qtnote
Exec=qtnote
StartupWMClass=QtNote
Terminal=false
Type=Application
Categories=Qt;Utility;TextEditor;Office;
X-KDE-StartupNotify=false
