Source: qtnote
Section: text
Priority: optional
Maintainer: Sergei Ilinykh <rion4ik@gmail.com>
Build-Depends: cmake (>= 3.10.0), dh-cmake, dh-cmake-compat (= 1), dh-sequence-cmake, debhelper (>= 11), qtbase5-dev, libqt5x11extras5-dev, libhunspell-dev, qttools5-dev, pkg-config, libsingleapplication-dev
Standards-Version: 4.5.1
Homepage: http://ri0n.github.io/QtNote
Vcs-Git: https://github.com/Ri0n/QtNote.git
Vcs-Browser: https://github.com/Ri0n/qtnote

Package: libqtnote3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtNote library to work with various notes storages
 Also works with QtNote plugins and able to provide some GUI

Package: libqtnote-dev
Architecture: any
Depends: libqtnote3 (= ${binary:Version}), ${misc:Depends}
Description: QtNote development files
 Development files to write plugins or to work directly with QtNote library

Package: qtnote
Architecture: any
Depends: libqtnote3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Note-taking application written with Qt in mind.
 It's mostly Tomboy clone but with less features. So it's app
 which lives in your system tray and allows you to make notes quickly
