#!/usr/bin/make -f

#export DH_VERBOSE = 1

include debian/build-profile.mk

CCACHE := $(shell command -v ccache 2>/dev/null)
ifneq ($(CCACHE),)
CCACHE_CMAKE_ARGS := \
	-DCMAKE_C_COMPILER_LAUNCHER=$(CCACHE) \
	-DCMAKE_CXX_COMPILER_LAUNCHER=$(CCACHE)
endif

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DQT_VERSION_MAJOR=$(QT_VERSION_MAJOR) \
		$(QTNOTE_CMAKE_ARGS) \
		$(QTNOTE_CMAKE_EXTRA_ARGS) \
		$(CCACHE_CMAKE_ARGS)
